In [1]:
import pandas as pd
df = pd.read_csv('Bank-Customer-Attrition-Insights-Data.csv')

In [57]:
df.isna()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Complain,Satisfaction Score,Card Type,Point Earned
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9996,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9997,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9998,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9999,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [72]:
X = df[['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','HasCrCard','IsActiveMember','EstimatedSalary','Satisfaction Score','Card Type','Point Earned']]

In [73]:
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned
0,619,France,Female,42,2,0.00,1,1,1,101348.88,2,DIAMOND,464
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,3,DIAMOND,456
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,3,DIAMOND,377
3,699,France,Female,39,1,0.00,2,0,0,93826.63,5,GOLD,350
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,5,GOLD,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,1,DIAMOND,300
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,5,PLATINUM,771
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,3,SILVER,564
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,2,GOLD,339
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,3,DIAMOND,911

In [74]:
y = df['Exited']

In [75]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,random_state=42)

In [76]:
from sklearn.preprocessing import OneHotEncoder
encoder = OneHotEncoder(drop='first',sparse_output=False)
encoder.fit(X_train[['Geography','Gender']])

OneHotEncoder(drop='first', sparse_output=False)

In [77]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned
9254,686,France,Male,32,6,0.00,2,1,1,179093.26,2,DIAMOND,510
1561,632,Germany,Male,42,4,119624.60,2,1,1,195978.86,4,PLATINUM,959
1670,559,Spain,Male,24,3,114739.92,1,1,0,85891.02,4,SILVER,327
6087,561,France,Female,27,9,135637.00,1,1,0,153080.40,2,SILVER,567
6669,517,France,Male,56,9,142147.32,1,0,0,39488.04,3,PLATINUM,727
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,France,Male,54,8,69712.74,1,1,1,69381.05,3,SILVER,569
5191,682,France,Female,58,1,0.00,1,1,1,706.50,4,PLATINUM,709
5390,735,France,Female,38,1,0.00,3,0,0,92220.12,5,SILVER,678
860,667,France,Male,43,8,190227.46,1,1,0,97508.04,3,DIAMOND,680
7270,697,Germany,Male,51,1,147910.30,1,1,1,53581.14,4,DIAMOND,639

In [79]:
X_train[['is_from_Germany','is_from_Spain','is_Male']] = encoder.transform(X_train[['Geography','Gender']])

In [80]:
X_train

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,is_from_Germany,is_from_Spain,is_Male
9254,686,France,Male,32,6,0.00,2,1,1,179093.26,2,DIAMOND,510,0.0,0.0,1.0
1561,632,Germany,Male,42,4,119624.60,2,1,1,195978.86,4,PLATINUM,959,1.0,0.0,1.0
1670,559,Spain,Male,24,3,114739.92,1,1,0,85891.02,4,SILVER,327,0.0,1.0,1.0
6087,561,France,Female,27,9,135637.00,1,1,0,153080.40,2,SILVER,567,0.0,0.0,0.0
6669,517,France,Male,56,9,142147.32,1,0,0,39488.04,3,PLATINUM,727,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,France,Male,54,8,69712.74,1,1,1,69381.05,3,SILVER,569,0.0,0.0,1.0
5191,682,France,Female,58,1,0.00,1,1,1,706.50,4,PLATINUM,709,0.0,0.0,0.0
5390,735,France,Female,38,1,0.00,3,0,0,92220.12,5,SILVER,678,0.0,0.0,0.0
860,667,France,Male,43,8,190227.46,1,1,0,97508.04,3,DIAMOND,680,0.0,0.0,1.0
7270,697,Germany,Male,51,1,147910.30,1,1,1,53581.14,4,DIAMOND,639,1.0,0.0,1.0

In [81]:
X_train.drop(['Geography','Gender'],axis=1,inplace=True)

In [82]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,is_from_Germany,is_from_Spain,is_Male
9254,686,32,6,0.00,2,1,1,179093.26,2,DIAMOND,510,0.0,0.0,1.0
1561,632,42,4,119624.60,2,1,1,195978.86,4,PLATINUM,959,1.0,0.0,1.0
1670,559,24,3,114739.92,1,1,0,85891.02,4,SILVER,327,0.0,1.0,1.0
6087,561,27,9,135637.00,1,1,0,153080.40,2,SILVER,567,0.0,0.0,0.0
6669,517,56,9,142147.32,1,0,0,39488.04,3,PLATINUM,727,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,69381.05,3,SILVER,569,0.0,0.0,1.0
5191,682,58,1,0.00,1,1,1,706.50,4,PLATINUM,709,0.0,0.0,0.0
5390,735,38,1,0.00,3,0,0,92220.12,5,SILVER,678,0.0,0.0,0.0
860,667,43,8,190227.46,1,1,0,97508.04,3,DIAMOND,680,0.0,0.0,1.0
7270,697,51,1,147910.30,1,1,1,53581.14,4,DIAMOND,639,1.0,0.0,1.0

In [83]:
X_test[['is_from_Germany','is_from_Spain','is_Male']] = encoder.transform(X_test[['Geography','Gender']])

In [84]:
X_test.drop(['Geography','Gender'],axis=1,inplace=True)

In [85]:
X_train['Card Type'].unique()

array(['DIAMOND', 'PLATINUM', 'SILVER', 'GOLD'], dtype=object)

In [86]:
from sklearn.preprocessing import OrdinalEncoder
Oencoder = OrdinalEncoder(categories=[['SILVER', 'GOLD', 'PLATINUM','DIAMOND']])
Oencoder.fit(X_train[['Card Type']])
X_train['Card Type'] = Oencoder.transform(X_train[['Card Type']])
X_test['Card Type'] = Oencoder.transform(X_test[['Card Type']])

In [87]:
X_train

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,is_from_Germany,is_from_Spain,is_Male
9254,686,32,6,0.00,2,1,1,179093.26,2,3.0,510,0.0,0.0,1.0
1561,632,42,4,119624.60,2,1,1,195978.86,4,2.0,959,1.0,0.0,1.0
1670,559,24,3,114739.92,1,1,0,85891.02,4,0.0,327,0.0,1.0,1.0
6087,561,27,9,135637.00,1,1,0,153080.40,2,0.0,567,0.0,0.0,0.0
6669,517,56,9,142147.32,1,0,0,39488.04,3,2.0,727,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5734,768,54,8,69712.74,1,1,1,69381.05,3,0.0,569,0.0,0.0,1.0
5191,682,58,1,0.00,1,1,1,706.50,4,2.0,709,0.0,0.0,0.0
5390,735,38,1,0.00,3,0,0,92220.12,5,0.0,678,0.0,0.0,0.0
860,667,43,8,190227.46,1,1,0,97508.04,3,3.0,680,0.0,0.0,1.0
7270,697,51,1,147910.30,1,1,1,53581.14,4,3.0,639,1.0,0.0,1.0

In [88]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
scaled_X_train = scaler.transform(X_train)
scaled_X_test = scaler.transform(X_test)

In [186]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report

LR = LogisticRegression()
LR.fit(scaled_X_train,y_train)
y_pred = LR.predict(scaled_X_test)

print('Logisitic Regression:')
print(classification_report(y_test,y_pred))


LR2 = LogisticRegression(penalty='l1', solver='liblinear', C=0.03)
LR2.fit(scaled_X_train,y_train)
y_pred2 = LR2.predict(scaled_X_test)

print('Logisitic Regression with Regularization (C = 0.03):')
print(classification_report(y_test,y_pred2))
pd.DataFrame(LR2.coef_,columns=X_train.columns)

Logisitic Regression:
              precision    recall  f1-score   support

           0       0.83      0.96      0.89      1607
           1       0.55      0.21      0.30       393

    accuracy                           0.81      2000
   macro avg       0.69      0.58      0.60      2000
weighted avg       0.78      0.81      0.78      2000

Logisitic Regression with Regularization (C = 0.03):
              precision    recall  f1-score   support

           0       0.83      0.97      0.89      1607
           1       0.58      0.19      0.28       393

    accuracy                           0.81      2000
   macro avg       0.70      0.58      0.59      2000
weighted avg       0.78      0.81      0.77      2000

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,is_from_Germany,is_from_Spain,is_Male
0,-0.035578,0.704627,-0.010149,0.138546,-0.03581,0.0,-0.48247,0.0,0.0,0.0,-0.014227,0.298246,0.0,-0.227492

In [207]:
LR2 = LogisticRegression(penalty='l1', solver='liblinear', C=0.03,class_weight='balanced')
LR2.fit(scaled_X_train,y_train)
y_pred2 = LR2.predict(scaled_X_test)

print('Logisitic Regression with Regularization (C = 0.03) and adjusted class weights:')
print(classification_report(y_test,y_pred2))
pd.DataFrame(LR2.coef_,columns=X_train.columns)

Logisitic Regression with Regularization (C = 0.03) and adjusted class weights:
              precision    recall  f1-score   support

           0       0.92      0.72      0.80      1607
           1       0.39      0.74      0.51       393

    accuracy                           0.72      2000
   macro avg       0.65      0.73      0.66      2000
weighted avg       0.81      0.72      0.75      2000

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Satisfaction Score,Card Type,Point Earned,is_from_Germany,is_from_Spain,is_Male
0,-0.046627,0.776519,-0.016155,0.155013,-0.039287,0.0,-0.430713,0.0,0.0,0.006213,-0.031141,0.305335,0.012777,-0.248404